.Gameboard {
  /* height: 600px;
  width: 1200px; */
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
